.idea/Math.iml
cmake-build-debug/Math.cbp
cmake-build-debug/CMakeFiles/Math.dir/build.make
cmake-build-debug/CMakeFiles/Math.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/Math.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/Math.dir/depend.make
cmake-build-debug/CMakeFiles/Math.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/Math.dir/flags.make
cmake-build-debug/CMakeFiles/Math.dir/link.txt
cmake-build-debug/CMakeFiles/Math.dir/progress.make
